<p id="notice"><%= notice %></p>

<p>
  <strong>Ranking:</strong>
  <%= @store.ranking_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @store.rating %>
</p>

<p>
  <strong>Company:</strong>
  <%= @store.company_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @store.image %>
</p>

<p>
  <strong>Weekdays start:</strong>
  <%= @store.weekdays_start %>
</p>

<p>
  <strong>Time:</strong>
  <%= @store.time %>
</p>

<p>
  <strong>Weekdays end:</strong>
  <%= @store.weekdays_end %>
</p>

<p>
  <strong>Holidays start:</strong>
  <%= @store.holidays_start %>
</p>

<p>
  <strong>Holidays end:</strong>
  <%= @store.holidays_end %>
</p>

<p>
  <strong>Size m:</strong>
  <%= @store.size_m %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @store.integer %>
</p>

<p>
  <strong>Size l:</strong>
  <%= @store.size_l %>
</p>

<p>
  <strong>Walk time:</strong>
  <%= @store.walk_time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @store.length %>
</p>

<p>
  <strong>Power:</strong>
  <%= @store.power %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @store.wifi %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
